.footer {
    background-color: #FFFFFF;
    display: flex !important;
    justify-content: center;
    margin : 1.5rem 0!important;
    margin-bottom: 5rem !important;
    color: #db4437 !important;
}