.Add{
    margin-left:10px !important;
    margin-right:15px !important;
}
.Analy{
    margin: left 15px !important;;
}
.searchBox {
    margin-left: 1000px !important;
    margin-right: 10px;
    background-color: #FFFFFF !important;
    border-radius: 0.3rem !important;
}

.btnGrp{
    margin-left: 4.5rem !important;
}

.parentBodyHeader{
    padding: 1rem 0.5rem !important;
}

.refreshBtn{
   background-color: #fc7500 !important;
    color: white !important;
    margin-left:1rem !important;
}
.Adv{
    background-color: #8fd163 !important;
}

